{% extends "pages/base.jinja" %}

{% block title %}
    Flask Demo | Page Not Found
{% endblock %}

{% block content %}
    <article id="notFound">
        <h1>404</h1>

        <p>Sorry, we can't seem to find the page you are looking for.</p>
        <p>Error Code: 404</p>

        <a href="/" role="button">Return Home</a>
    </article>
{% endblock %}