{% extends "pages/base.jinja" %}

{% block title %}
    Flask Demo | Form
{% endblock %}

{% block content %}
    <article>
        <h1>Hello Form!</h1>
        <p>i love form</p>

        <form method="POST" action="/processForm/">
            <fieldset>
                <label>
                    Your Name:
                    <input
                    name="name"
                    placeholder="Name"
                    required
                    >
                </label> 
                <label>
                    Your Age:
                    <input
                    name="age"
                    type="range"
                    placeholder="Name"
                    required
                    >
                </label>
                <label>
                    <input type="checkbox" name="robot?" unchecked />
                        I am not a Robot
                    </label>
            </fieldset>

            <input type="submit" value="Submit">

        </form>
    </article>
{% endblock %}