{% extends "pages/base.jinja" %}

{% block title %}
    Flask Demo | Number
{% endblock %}

{% block content %}
    <article id="random">
        <h3>You entered the number:</h3>
        <h1>{{enteredItem}}</h1>
    </article>

{% endblock %}