{% extends "pages/base.jinja" %}

{% block title %}
    Flask Demo | Random
{% endblock %}

{% block content %}

    
    <article id="random">
        <button onclick="location.reload();">Generate a Random Number</button>
        <p><strong>{{number}}</strong></p>
    </article>

{% endblock %}